:root {
    --font-serif: Asul, sans-serif;
    --font-bold: Asul:wght@700, sans-serif;
    --white: #fff;
    --gray: #c9cfcd;
    --teal: #a1bbb7;
    --green: #2e413e;
    --black: #000; 
}
/** Typogrophy */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-serif);
    color: var(--gray)
} 

h1 {
    font-size: 2.4rem;
}

h1, h3 {
    font-family: var(--font-bold);
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #2e413e;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #c9cfcd;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}
/** Components */
.component img {
    max-width: initial;
}

.component-image {
    border: 1px solid grey;
    overflow-x: auto;
}

.component-code {
    border: 1px solid grey;
}

.nav-image {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    margin-left: 200px;
}

.logo {
    margin-right: 150px;
}

.header-navbar {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin-left: 300px;
    padding: 0;
    list-style: none;
    font-size: 14px;
}