:root {
    --font-serif: Asul, sans-serif;
    --font-bold: Asul:wght@700, sans-serif;
    --white: #fff;
    --gray: #c9cfcd;
    --lightgray: #E8EFEE;
    --teal: #a1bbb7;
    --green: #2e413e;
    --black: #000; 
}
/** Basics */

html {
    max-width: 100%
  }

body {
    font-family: var(--font-serif);
    color: #E8EFEE;
    text-align: center;
    background-color: #a1bbb7;
    margin: 0;
} 

h1 {
    font-size: 2.4rem;
    text-align: center;
    color:  #fff;
}

h1, h3 {
    font-family: var(--font-bold);
}

h1, p {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    line-height: 30px;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #2e413e;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #E8EFEE;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

/** Components */
.component img {
    max-width: initial;
}

.component-code {
    text-align: left;
}

.component-image {
    overflow-x: auto;
}

.hauntedp {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 0;
    margin-bottom: 0;
}

.announcement {
    font-size: 14px;
    font-weight: bold;
    color:  #fff;
    text-align: center;
}
/** Navigation */
.nav-image {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    align-content: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    margin-right: 250px;
}

.header-navbar {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 100px;
    padding-left: 200px;
    list-style: none;
    font-size: 14px;
    position: relative;
    background-color: #2e413e;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #2e413e;
    width: 150px;
    z-index: 999;
    overflow: auto;
    list-style: none;
    text-align: left;
    margin: 0;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropdown a{
    display: block;
    padding: 12px 16px;
}

.dropdown-1:hover .dropdown {
    display: block;
}

.dropdown-2:hover .dropdown {
    display: block;
}

.dropdown-3:hover .dropdown {
    display: block;
}
/** First Image */
.image-header {
    font-size: 50px;
    position: absolute;
    transform: translate(3%, 3%);
    color: #fff;
    text-align: center;
    padding: 50px;
    padding-top: 100px;
    padding-right: 400px;
}
.image-button {
    position: absolute;
    transform: translate(3%, 3%);
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 300px;
    margin-left: 400px;
}

.image-button:hover {
    color: #000;
    text-decoration: none;
    transform: scale(1.02); 
}
/** Listings */
.component-code-hatlistings {
    display: flex;
    flex: 1;
    max-width: 1200px;
    padding: 0;
    margin-bottom: 10px;
    text-align: left;
}
.individual-listing {
    font-size: 14px;
    margin: 10px;
    background: #2e413e;
}
.listing-title {
    color: #fff;
    padding: 0;
}
.listing-title:hover {
    text-decoration: underline;
}
.cost {
    padding: 0;
}
.individualimg {
    padding-left: 10px;
}
.individualimg:hover {
    width: 200px;
}
/** Hat Section */
.hat-info {
    position: absolute;
    transform: translate(-20%, 30%);
    background-color: #a1bbb7;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
.hat-button {
    color: #fff;
    position:inherit;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color:#a1bbb7;
    padding: 10px;
    padding-left: 195px;
    padding-right: 195px;
    margin: 10px;
}

.hat-button:hover {
    text-decoration: none;
    border-width: 2px;
}

.hat-button2 {
    color: #fff;
    position:inherit;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color:#a1bbb7;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 10px;
}

.hat-button2:hover {
    text-decoration: none;
    border-width: 2px;
}
/** Explore */
.component-code-explore {
    padding: 10px;
    background-color: #2e413e;
}

.explorep {
    margin-left: 300px;
    margin-right: 300px;
}
/** Shopping pop-outs */
.component-code-images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: #2e413e;
}

.beasties:hover {
    transform: scale(1.02);
}

.decor:hover {
    transform: scale(1.02);
}

.dandd:hover {
    transform: scale(1.02);
}

.jewelry:hover {
    transform: scale(1.02);
}

.wearable:hover {
    transform: scale(1.02);
}
/** Forms */
.component-code-form {
    color: #E8EFEE;
    line-height: 10px;
    background-color: #a1bbb7;
    padding: 2px;
}

.emailbutton {
    color: #E8EFEE;
    text-align: left;
    border: 1px solid #E8EFEE;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 7px;
    padding-left: 20px;
    margin-top: 0;
}

.formp {
    margin-bottom: 20px;
}

.emailbutton:hover {
    border: 1px solid #fff;
}

.component-code-form a:hover {
    text-decoration: none;
}
/** Footer */
.component-code-footer {
    background-color: #2e413e;
    padding-bottom: 50px;
}

.footerlinks {
    list-style: none;
    text-align: left;
    padding-left: 100px;
    line-height: 30px;
}

.footerheader {
    color: #fff;
    text-align: left;
    padding-left: 100px;
    padding-top: 30px;
}

.followbutton {
    padding-left: 500px;
    padding-right: 500px;
}

.component-code-footer2 {
    background-color: #2e413e;
    font-size: small;
}

.footer2 {
    margin-right: 1050px;
    margin-left: 100px;
}

.footer-header {
    text-align: left;
    padding: 5px;
    margin: 0;
}

.footerbutton {
    color: #E8EFEE;
    text-align: left;
    border: 1px solid #aeafaf;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    margin: 0;
}

.copyright {
   padding-bottom: 20px;
   padding-left: 200px;
   font-size: x-small;
   text-align: right;
   padding-right: 100px;
   margin-right: 0;
}

.cardimg {
    margin-left: 650px;
}