<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Components-Sunny Fox Apothecary</title>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Caveat&family=Lato&family=Lora&display=swap" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
    </head>
    <body>
        <h1>Web Components Go Here</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component-name">Body</h3>
                <div class="component-image">
                    <img 
                        srcset="img/firstparagraph.png 2x"
                        src="img/firstparagraph.png" 
                        alt="body copy">
                </div>

            <div class="component-code">
                <p>Happy October all you lovely Ghouls!</p>
                <p>✶</p>
                <p>The shelves are full once again of trinkets and wares! 
                    Check out our new selection of hats and jewelry!</p>
            </div> 
        </article>  
        
        <article class="component">
            <h3 class="component-name">Headings</h3>
                <div class="component-image">
                    <img srcset="img/firstheader.png 2x" src="img/firstheader.png" alt="h1">
                    <img srcset="img/h3.png 2x" src="img/h3.png" alt="h3">
                </div>

            <div class="component-code">
               <h1>A Haunted Hullabaloo!</h1>
               <h3>Quick links</h3> 
            </div> 
        </article>
        
        <article class="component">
            <h3 class="component-name">Header</h3>
                <div class="component-image">
                    <img srcset="img/header.png 2x" src="img/header.png" alt="header">   
                </div>

            <div class="component-code">
                <header>
                    <div class="nav-image">
                        <img srcset="img/search.png 2x" src="img/search.png" alt="search icon">
                        <img class="logo" srcset="img/logo.png 2x" src="img/logo.png" alt="logo">
                        <img srcset="img/profile.png 2x" src="img/profile.png" alt="profile icon">
                        <img srcset="img/bag.png 2x" src="img/bag.png" alt="shopping bag icon">
                    </div>

                    <ul class="header-navbar">
                        <li class="navbar-title"><a href="#!">Home</a></li>
                        <li class="navbar-title"><a href="#!">Shop the Apothecary</a></li>
                        <li class="navbar-title"><a href="#!">Meet the Apothecary Vendors</a></li>
                        <li class="navbar-title"><a href="#!">About the Apothecary</a></li>
                        <li class="navbar-title"><a href="#!">Contact the Apothecary</a></li>
                      </ul>
                </header>
            </div>   
        </article>

        <article class="component">

        </article>
    </body>
</html>