<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Components-Sunny Fox Apothecary</title>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Caveat&family=Lato&family=Lora&display=swap" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
    </head>
    <body>
        <h1>Web Components Go Here</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component-name">Body</h3>
                <div class="component-image">
                    <img 
                        srcset="img/firstparagraph.png 2x"
                        src="img/firstparagraph.png" 
                        alt="body copy">
                </div>

            <div class="component-code">
                <p>Happy October all you lovely Ghouls!</p>
                <p>✶</p>
                <p>The shelves are full once again of trinkets and wares! 
                    Check out our new selection of hats and jewelry!</p>
            </div> 
        </article>  
        
        <article class="component">
            <h3 class="component-name">Headings</h3>
                <div class="component-image">
                    <img srcset="img/firstheader.png 2x" src="img/firstheader.png" alt="h1">
                    <img srcset="img/h3.png 2x" src="img/h3.png" alt="h3">
                </div>

            <div class="component-code-title">
               <h1>*A Haunted Hullabaloo!*</h1>
               <h3>Quick links</h3> 
            </div> 
        </article>
        
        <article class="component">
            <h3 class="component-name">Header</h3>
                <div class="component-image">
                    <img srcset="img/header.png 2x" src="img/header.png" alt="header">   
                </div>

            <div class="component-code">
                <header>
                    <div class="nav-image">
                        <img srcset="img/search.png 2x" src="img/search.png" alt="search icon">
                        <img class="logo" srcset="img/logo.png 2x" src="img/logo.png" alt="logo">
                        <img srcset="img/profile.png 2x" src="img/profile.png" alt="profile icon">
                        <img srcset="img/bag.png 2x" src="img/bag.png" alt="shopping bag icon">
                    </div>

                    <ul class="header-navbar">
                        <li class="navbar-title"><a href="#!">Home</a></li>
                        <li class="navbar-title"><a href="#!">Shop the Apothecary</a></li>
                        <li class="navbar-title"><a href="#!">Meet the Apothecary Vendors</a></li>
                        <li class="navbar-title"><a href="#!">About the Apothecary</a></li>
                        <li class="navbar-title"><a href="#!">Contact the Apothecary</a></li>
                      </ul>
                </header>
            </div>   
        </article>

        <article class="component">
            <h3 class="component-name">Header Drop-down Menu</h3>
                <div class="component-image">
                    <img srcset="img/shopnavbar.png 2x" src="img/shopnavbar.png" alt="drop-down menu for shop section">
                </div>
            
                <div class="component-code">
                    <header>
                        <ul class="header-navbar">
                            <li class="navbar-title"><a href="#!">Home</a></li>
                            <div class="dropdown-1">
                                <li class="navbar-1"><a href="#!">Shop the Apothecary</a></li>
                                    <ul class="dropdown">
                                        <li><a href="#!">Beasties</a></li>
                                        <li><a href="#!">Decor</a></li>
                                        <li><a href="#!">Jewelry</a></li>
                                        <li><a href="#!">Wearables</a></li>
                                        <li><a href="#!">Apothecary Partner: Wanderstar Studio</a></li>
                                        <li><a href="#!">Creator Collab: The Honeysword Collection</a></li>
                                    </ul>
                            </div> 
                            <div class="dropdown-2">      
                                <li class="navbar-2"><a href="#!">Meet the Apothecary Vendors</a></li>
                                    <ul class="dropdown">
                                        <li><a href="#!">The Astronomer</a></li>
                                        <li><a href="#!">The Artificer</a></li>
                                        <li><a href="#!">The Fae</a></li>
                                        <li><a href="#!">The Mariner</a></li>
                                        <li><a href="#!">The Necromancer</a></li>
                                    </ul>
                            </div> 
                            <div class="dropdown-3">
                                <li class="navbar-3"><a href="#!">About the Apothecary</a></li>
                                    <ul class="dropdown">
                                        <li><a href="#!">About the Shop</a></li>
                                        <li><a href="#!">About the Maker</a></li>
                                        <li><a href="#!">Upcoming Events</a></li>
                                    </ul>
                            </div>   
                            <li class="navbar-title"><a href="#!">Contact the Apothecary</a></li>
                        </ul>
                    </header>    
                </div>
        </article>

        <article class="component">
            <h3 class="component-name">Shop listing navigation</h3>
                <div class="component-image">
                    <img srcset="img/exploresection.png 2x" src="img/exploresection.png" alt="explore section heading and paragraph">
                    <img srcset="img/jewlery.png 2x" src="img/jewlery.png" alt="explore section jewlery listing">
                </div>

                <div class="component-code-explore">
                    <h1>*Explore the Aisles of the Apothecary*</h1>
                    <p>The Sunny Fox Apothecary is a magical item shop that travels through many different realms, picking up new Magical Creatures 
                        and Mythical Artifacts from Adventurers like you! Find a new talisman to hang from your belt, 
                        a magical mirror to decorate the wizard tower, or a new Beastie friend to keep you company!</p>
                </div>

                <div class="component-code-images">
                    <a href="#!"><img srcset="img/beasties.png 2x" class="beasties" src="img/beasties.png" alt="Photo of monster products with a forest background."></a>

                    <a href="#!"><img srcset="img/decor.png 2x"class="decor" src="img/decor.png" alt="Photo of a person in a corset holding a sword decoration."></a>
        
                    <a href="#!"><img srcset="img/danadd.png 2x" class="dandd" src="img/danadd.jpg" alt="Photo of wooden keychains with medieval designs."></a>

                    <a href="#!"><img srcset="img/jewlery.png 2x" class="jewelry" src="img/jewlery.jpg" alt="Photo of skull earings with a flower behind them."></a>
        
                    <a href="#!"><img srcset="img/wearables.png 2x" class="wearable" src="img/wearables.jpg" alt="Photo of gauntlets engraved in metal that link together."></a>  
                </div>
        </article> 

            <article class="component">
                <h3 class="component-name">Newsletter</h3>
                    <div class="component-image">
                        <img srcset="img/form.png 2x" src="img/form.png" alt="Sign up for newsletter form">
                        <img srcset="img/emailform.png 2x" src="img/emailform.png" alt="Sign up for emails form">
                    </div>
        
                    <div class="component-code-form">
                        <h1>Sign up for our Newsletter!</h1>

                        <p class="formp">Letters from the Apothecary are weekly to bi-monthly emails with news, product and collection previews, and other announcements!</p>
                        <a href="#!"><p class="emailbutton">Email</p></a> 
                    </div>

                    <div class="component-code-form">
                        <h1>Subscribe to our emails</h1>
    
                        <p class="formp">Subscribe to our mailing list for insider news, product launches, and more.</p>
                        <a href="#!"><p class="emailbutton">Email</p></a>  
                    </div>
            </article>
        
            <article class="component">
                <h3 class="component-name">Footer</h3>
                    <div class="component-image">
                        <img srcset="img/footer.png 2x" src="img/footer.png" alt="The footer of the webpage.">
                    </div>

                    <div class="component-code-footer">
                        <h3 class="footerheader">Quick Links</h3>
                        <ul class="footerlinks">
                            <li><a href="#!">Search</a></li>
                            <li><a href="#!">Policies</a></li>
                            <li><a href="#!">Contact</a></li>
                            <li><a href="#!">Terms of Service</a></li>
                            <li><a href="#!">Refund policy</a></li>
                        </ul>

                        <a href="#!"><img class="followbutton" srcset="img/Follow.png 2x" src="img/Follow.png" alt="Follow on eShop button"></a> 
                    </div>

                    <div class="component-code-footer2">
                        <div class="footer2">
                            <p>Country/region</p>
                            <a href="#!"><p class="footerbutton">United States (USD $)</p></a>

                            <img class="cardimg" srcset="img/cards.png 2x" src="img/cards.png" alt="List of credit cards">
                        </div>

                        <p class="copyright">2023, <a href=#!>SunnyFoxApothecary</a>
                            <a hre=#!> Powered by Shopify</a></p>

                    </div>
</html>